@media (max-width: 600px) {
  .formulario-registro {
    padding: 1rem;
    width: 100vw; 
  }
  h1 {
    font-size: 20px;
  }
  button {
    font-size: 14px; 
  }
}
.logo {
    background-image: url('@/assets/logo.png');
  width: 100px;
  height: 80px;
  margin: 0 auto 1rem;
  display: block;
  border-radius: 50%;
}
.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('@/assets/background.jpg');
  background-color: #f0f0f0; 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border: 1px solid rgb(0, 0, 0);
  z-index: 0;
}


