nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    color: #9bb055;
    z-index: 1000;
    background-color: #9bb055;
    padding: 0 2rem;
}
.logo {
    width: 60px;
    height: 60px;
    margin: 0;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: none;
}

li {
    display: inline;
    margin-left: 1rem;
    float: none;
}

li a,
li .router-link-active {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
li .router-link-active {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
    color: white;
}